.element__description {
  margin: 0 auto;
  padding: 13px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  max-width: 240px;
}
