.element__trash {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/element__trash.svg);
  background-size: 18px 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.element__trash:hover {
  opacity: 0.6;
}

