.element__like {
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(../../../images/elements__like_unactive.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: transparent;
  font-size: 0;
  border: none;
  width: 22px;
  height: 20px;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

